body{
    background-color: #191919;
    background-image: url("pattern-ujcv.png");
      font-family: 'Open Sans', sans-serif;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      
    }

    th{
border:5px solid #002e5d;
    background-color: #002e5d;
    text-align:center;
    width:12%;
    height: 40px;
    font-size: 18px;
   padding: -10px;
    }
    a{
      color: white;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
  text-shadow: 2px 4px 16px white;

    }

    .dropdown{
      display: inline-block;
      position: relative;
    }

    .dropdown-content{
display: none;
position: absolute;
width: 100%;
overflow: auto;

    }
.dropdown:hover .dropdown-content{
  display: block;
  z-index: 2;
}

.dropdown-content a{
      color: white;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
  text-shadow: 2px 4px 16px white;

}
.dropdown-content a:hover{
  color:goldenrod;
      text-decoration:none;
}
    a:hover{
      color:goldenrod;
      text-decoration:none;
    }

    td{

    text-align:center;
    color:white;
    }
.footer{
  padding: 100px;
  background-color: #002e5d;
}
.footer-content{
  display: flex;
  justify-content: space-between;
}
.services{
  background-image: linear-gradient(rgba(0,0,0.7),rgba(0,0,0.7), url(img/ujcv-dia.jpeg));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
.services-content{
  text-align: center;
}
.services-content h2{
  font-size: 55px;
  line-height: 70px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.btn-1{
  display: inline-block;
  padding: 11px 35px;
  background-color: #002e5d;

}